/* custom styles */
body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}

li {
  margin-right: 20px;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("../imgs/Hero-background-low-slope.png");

    /* Set a specific height and width*/
    height: 90%;

    /* Position and center the image to scale nicely on all screens */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* z-index: -1; */
}

/* Place text on the left of the image */
.hero-text {
    /* text-align: left;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-30%, -30%); */
    font-size: 1.5em;
    color: #ffffff;
    padding: 110px 100px;
    margin: 0 auto;
    max-width: 880px;
}
.hero-text h1 {
  font-size: 2em;
}

/* Add a dark background color with a little bit see-through */
.navbar {
    margin: 0 auto;
    padding-top: 20px;
    border: 0;
    font-size: 16px !important;
    letter-spacing: 4px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 880px;
}

.navbar-nav {
  flex-direction: row;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #ffffff !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #ffffff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #ffffff !important;
}

.my-work {

}

.contact {
  padding: 30px;
}

.container-fluid {
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  max-width: 880px;
}
